@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    user-select: none;
}

.container{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0px auto;
    position: relative;
    user-select: none; /* prevents user from selcting ui elements*/
}

.header{
    padding: 0.5rem 3rem;
    font-size: 2rem;
    color: white;
    font-family: 'Bungee Shade', cursive;
    background-color: rgb(207, 45, 86);
}

.verdict{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nb{
    margin-top: 5rem;
}

#inpt1{
    font-size: 1.25rem;
    border-color: rgb(231, 43, 43);
    border-radius: 5px;
    padding: 1rem 3rem;
    margin-top: 2rem;
}

#inpt1:hover{
    transition: ease-in 0.25s;
    border-color: rgb(231, 43, 43);
    border-radius: 5px;
    padding: 1rem 5rem;
    margin-top: 2rem;
}
#inpt2{
    
    font-size: 1.25rem;
    border-color: rgb(231, 43, 43);
    border-radius: 5px;
    padding: 1rem 3rem;
    margin-top: 2rem;
}

#inpt2:hover{
    transition: ease-in 0.25s;
    border-color: rgb(231, 43, 43);
    border-radius: 5px;
    padding: 1rem 5rem;
    margin-top: 2rem;
}

#word-rslt{
    color: black;
    text-align: center;
    margin-top: 1rem;
}

#hit-btn{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(41, 204, 76);
    margin-left: 1rem;
    border-radius: 5px;
    padding: 1.25rem;
}
#hit-btn:hover{
    transition: ease-in 0.25s;
    cursor: pointer;
    border: none;
    background-color: rgb(62, 230, 98);
    margin-left: 1rem;
    border-radius: 5px;
    padding: 1.25rem;
}

.share{
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(204, 41, 76);
    margin-left: 1rem;
    border-radius: 20px;
    padding: 1.25rem;
}
.share:hover{
    font-weight: bold;
    text-decoration: none;
    transition: ease-in 0.25s;
    cursor: pointer;
    border: none;
    background-color: rgb(219, 65, 98);
    margin-left: 1rem;
    border-radius: 20px;
    padding: 1.25rem;
}

#wait{
    font-size: 2rem;
    color: black;
    margin-top: 2rem;
    display: none;
}
